{% extends 'website/layout.html' %}
{% block 'main' %}
{% load static %}

 <div id="main-content" class="site-main-content">
            <section class="site-content-area">

                <div class="uni-banner-default uni-background-1">
                    <div class="container">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="page-title-inner">
                                <h1>{{ departments.name }}`</h1>
                            </div>
                        </div>
                        <!-- End page title -->

                        <!-- Breadcrumbs -->
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'homepage' %}">home</a></li>
                            <li><a href="">departments</a></li>
                            <li><a href="">{{ departments.name }} </a></li>
                        </ul>
                        <!-- End breadcrumbs -->
                    </div>
                </div>

                <div class="uni-single-departments-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="uni-single-departments-left">
                                    <!--Opening hours-->
                                    <div class="uni-single-department-open-hours">
                                        <h3 class="uni-single-department-left-title">
                                            Opening hours
                                        </h3>
                                        <div class="uni-single-department-left-table">
                                            <table class="table">
                                                <tr>
                                                    <td>Monday</td>
                                                    <td>{{ departments.opening_hours_monday }}</td>
                                                </tr>
                                                <tr>
                                                    <td>tuesday</td>
                                                    <td>{{ departments.opening_hours_tuesday }}</td>
                                                </tr>
                                                <tr>
                                                    <td>wednesday</td>
                                                    <td>{{ departments.opening_hours_wednesday }}</td>
                                                </tr>
                                                <tr>
                                                    <td>thursday</td>
                                                    <td>{{ departments.opening_hours_thursday }}</td>
                                                </tr>
                                                <tr>
                                                    <td>friday</td>
                                                    <td>{{ departments.opening_hours_friday }}</td>
                                                </tr>
                                                <tr>
                                                    <td>saturday</td>
                                                    <td>{{ departments.opening_hours_saturday }}</td>
                                                </tr>
                                                <tr>
                                                    <td>sunday</td>
                                                    <td>{{ departments.opening_hours_sunday }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <!--Contact us-->
                                    <div class="uni-single-department-contact-info">
                                        <h3 class="uni-single-department-left-title">
                                            CONTACT INFO
                                        </h3>
                                        <ul>
                                            <li>
                                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ site_info.site_address }}
                                            </li>
                                            <li>
                                                <i class="fa fa-phone" aria-hidden="true"></i> {{ site_info.site_number }}
                                            </li>
                                            <li>
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                {{ site_info.site_email }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="uni-single-departments-right">

                                    <div class="uni-single-departments-cardiology">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <img src="/media/{{departments.doctor_image}}" alt="" class="img-responsive">
                                            </div>
                                            <div class="col-md-7">
                                                <h3 class="uni-single-departments-right-title">{{ departments.name }}</h3>
                                                <br>
                                                <p>{{ departments.description }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--APPOINTMENTS-->
                                    <div class="uni-single-department-appointment">
                                        <h3 class="uni-single-departments-right-title">appointment</h3>
                                        <div class="uni-divider"></div>
                                        <div class="uni-single-department-appointment-form">
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-md-4">

                                                        <div class="input-group form-group">
                                                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                            <input type="text" class="form-control" name="name" value="" placeholder="your name">
                                                        </div>
                                                        <div class="input-group form-group">
                                                            <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                            <input type="tel" class="form-control" name="phone" value="" placeholder="phone number">
                                                        </div>
                                                        <div class="input-group form-group">
                                                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                            <input type="email" class="form-control" name="email" value="" placeholder="email">
                                                        </div>
                                                        <div class="input-group form-group">
                                                            <div class="input-group date date-check-in" data-date="12-02-2017" data-date-format="mm-dd-yyyy">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                                <input name="date1" class="form-control" type="text" value="12-02-2017">
                                                                <span class="input-group-addon btn"><i class="fa fa-calendar" id="ti-calendar1" aria-hidden="true"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group form-group">
                                                            <textarea id="message" name="phone" class="form-control" placeholder="note"></textarea>
                                                        </div>
                                                        <button class="vk-btn vk-btn-send">send</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

{% endblock %}