{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><b>Delete Sickness</b></h4>
            <p>Sickness: <i>{{sickness|upper }}</i></p>

            <p>The Sickness will be permanently deleted.</p>

            <form style="display:inline" method="post">
                {% csrf_token %}

                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'sickness_index' %}"> Cancel</a>
        </div>
    </div>
</div>

{% endblock %}