{% extends 'admin_site/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<div class="element-ara">
    <div class="demo-vie">
        <div class="container-fluid pt-0 ps-0 pe-0">
            <!-- row -->
            <div class="row">
                <!-- Column  -->
                <div class="col-xl-12">
                    <div class="card dz-card">
                        <div class="card-header flex-wrap border-0" id="default-tab">
                            <h4 class="card-title">List of Personal Fundings</h4>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="DefaultTab" role="tabpanel" aria-labelledby="home-tab">
                                <div class="card-body pt-0">
                                    <!-- Nav tabs -->
                                    <div class="default-tab">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#home"><i class="la la-home me-2"></i> Fundings</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#profile"><i class="la la-user me-2"></i> Funded</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="home" role="tabpanel">
                                                <div class="pt-4">
                                                    <h4>List of Funds you added</h4>
                                                    <div class="table-responsive active-projects user-tbl  dt-filter">
                                                    <table id="user-tbl" class="table shorting">
                                                        <thead>
                                                            <tr>
                                                                <th>S/N</th>
                                                                <th scope="col">Staff</th>
                                                                <th scope="col">Amount (N)</th>
                                                                <th scope="col">Date</th>
                                                                <th scope="col">Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for funding in funding_list %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ funding.confirming_user.user_staff_profile.staff|title }}</td>
                                                                <td>{{ funding.amount|floatformat|intcomma }}</td>
                                                                <td>{{ funding.date|date }}</td>
                                                                <td class="{% if funding.status == 'pending' %} text-warning {% elif funding.status == 'confirmed' %} text-success {% elif funding.status == 'declined' %} text-danger {% endif %}">
                                                                    {{ funding.status|title }}</td>
                                                                <td>
                                                                    <div class="dropdown">
                                                                        <div class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                                <path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                                <path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            </svg>
                                                                        </div>
                                                                        <div class="dropdown-menu dropdown-menu-right" style="">
                                                                            {% if funding.status == 'pending' %}<a class="dropdown-item text-danger"  data-bs-toggle="modal" data-bs-target="#delete{{ forloop.counter }}">Delete</a>{% endif %}
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="profile">
                                                <div class="pt-4">
                                                     <h4>List of Funds Added to You</h4>
                                                    <div class="table-responsive active-projects user-tbl  dt-filter">
                                                    <table id="user-tbl" class="table shorting">
                                                        <thead>
                                                            <tr>
                                                                <th>S/N</th>
                                                                <th scope="col">Staff</th>
                                                                <th scope="col">Amount (N)</th>
                                                                <th scope="col">Date</th>
                                                                <th scope="col">Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for funding in funded_list %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{% if funding.user.is_superuser %} {{ funding.user|upper }} {% else %} {{ funding.user.user_staff_profile.staff|title }} {% endif %}</td>
                                                                <td>{{ funding.amount|floatformat|intcomma }}</td>
                                                                <td>{{ funding.date|date }}</td>
                                                                <td class="{% if funding.status == 'pending' %} text-warning {% elif funding.status == 'confirmed' %} text-success {% elif funding.status == 'declined' %} text-danger {% endif %}">
                                                                    {{ funding.status|title }}</td>
                                                                <td>
                                                                    <div class="dropdown">
                                                                        <div class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                                <path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                                <path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            </svg>
                                                                        </div>
                                                                        <div class="dropdown-menu dropdown-menu-right" style="">
                                                                            {% if funding.status == 'pending' %}<a class="dropdown-item text-primary"  data-bs-toggle="modal" data-bs-target="#editdept{{ forloop.counter }}">Confirm</a>{% endif %}
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for funding in funded_list %}
{% if funding.status == 'pending' %}
<form action="{% url 'funding_confirm' funding.id %}" method="post">
	{% csrf_token %}
	<div class="modal fade" id="editdept{{ forloop.counter }}">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
                    <h5 class="modal-title"><b>Confirm Funding</b></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
                        <p class="card-description">Confirm funding of {{ funding.amount|floatformat|intcomma }} on {{ funding.date|date }}</p>
                        <p class="card-description">This Action is permanent</p>

                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Confirm" />
				</div>
			</div>
		</div>
	</div>
</form>
{% endif %}
{% endfor %}

{% for funding in funding_list %}
{% if funding.status == 'pending' %}
<form action="{% url 'funding_delete' funding.id %}" method="post">
	{% csrf_token %}
	<div class="modal fade" id="delete{{ forloop.counter }}">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
                    <h5 class="modal-title"><b>Delete Funding</b></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
                        <p class="card-description">Delete funding of {{ funding.amount|floatformat|intcomma }} on {{ funding.date|date }}</p>
                        <p class="card-description">This Action is only possible if the funding is yet to be confirmed</p>
                        <p class="card-description">This Action is permanent</p>

                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Confirm" />
				</div>
			</div>
		</div>
	</div>
</form>
{% endif %}
{% endfor %}

{% endblock %}