{% extends 'admin_site/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}

<div class="row">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h4 class="heading mb-0"><b>Stocked In Inventory</b></h4>
		<div class="d-flex align-items-center"></div>
	</div>
	<div class="col-xl-12 active-p">
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-colm" role="tabpanel" aria-labelledby="pills-colm-tab">
				<div class="card">
					<div class="card-body px-0">
					  <div class="table-responsive active-projects user-tbl  dt-filter">
						<table id="user-tbl" class="table shorting">
							<thead>
								<tr>
									<th>S/N</th>
									<th scope="col" style="min-width:150px">Inventory Item</th>
                                    <th scope="col" style="min-width:150px">Supplier</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Qty Left</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Unit Cost</th>
                                    <th scope="col">Sold At</th>
                                    <th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for stock in inventory_stock_list %}
								<tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a style="color:black" href="{% url 'inventory_item_detail' stock.item.id %}">{{stock.item|title}}</a></td>
                                    <td><a style="color:black" {% if stock.supplier %} href="{% url 'inventory_supplier_detail' stock.supplier.id %}" {% endif %}> {{stock.supplier|title}}</a></td>
                                    <td>{{stock.quantity}}</td>
                                    <td>{{stock.quantity_left}}</td>
                                    <td>{{stock.date|date}}</td>
                                    <td>{{stock.unit_cost|intcomma}}</td>
                                    <td>{{stock.unit_selling|intcomma}}</td>

									<td>
										<div class="dropdown">
											<div class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
												</svg>
											</div>
											<div class="dropdown-menu dropdown-menu-right" style="">
                                                <a class="dropdown-item text-danger" type="Delete Stock" href="{% url 'inventory_stock_delete' stock.id %}">Delete</a>
                                            </div>
										</div>
									</td>
								</tr>
							{% endfor %}
							</tbody>

						</table>
					</div>
				   </div>
				</div>

			</div>
		</div>
	</div>
</div>
{%endblock %}