{% if list_format == 'select' %}
    {% if drug_list %}
        {% for drug in drug_list %}
            <option>{{ drug|upper }}</option>
        {% endfor %}
    {% else %}
        <option value="" class="bg-danger">NO DRUG FOUND</option>
    {% endif %}
{% else %}
    {% if drug_list %}
        {% for drug in drug_list %}
            <li class="class='btn result-item" style="padding:5px;border-radius:5px;margin-bottom:5px" row="{{row}}" id="{{drug.id}}">{{ drug|upper }}</li>
        {% endfor %}

    {% else %}
        <li class="bg-danger">NO DRUG FOUND</li>
    {% endif %}
{% endif %}