{% extends 'admin_site/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<form action="" method="POST">
    {% csrf_token %}
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Assign Permissions to {{ group.name|title }} Group</h5>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-admission-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Patient Registration Permissions
                                </button>
                            </h2>
                            <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="admission-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Patient Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can Register Patient
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_patientmodel"
                                                        {% if "add_patientmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can View Patient Information
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_patientmodel"
                                                        {% if "view_patientmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can Update Patient Information
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_patientmodel"
                                                        {% if "change_patientmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can Delete Patient
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="delete_patientmodel"
                                                        {% if "delete_patientmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-academic-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Consultation Permissions
                                </button>
                            </h2>
                            <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="academic-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Consultation Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Pre Consultation Activities (Vitals, Posting)
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_consultationpaymentmodel"
                                                        {% if "view_consultationpaymentmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Consultation Payment Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can Add Consultation Fee
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_consultationfeemodel"
                                                        {% if "add_consultationfeemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can View Consultation Fee
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_consultationfeemodel"
                                                        {% if "view_consultationfeemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can Edit Consultation Fee
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_consultationfeemodel"
                                                        {% if "change_consultationfeemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can Delete Consultation Fee
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="delete_consultationfeemodel"
                                                        {% if "delete_consultationfeemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Consultation Setup Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can Add Consultation Block and Room
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_consultationblockmodel"
                                                        {% if "add_consultationblockmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can View Consultation Block and Room
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_consultationblockmodel"
                                                        {% if "view_consultationblockmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can Edit Consultation Block and Room
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_consultationblockmodel"
                                                        {% if "change_consultationblockmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Can Delete Consultation Block and Room
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="delete_consultationblockmodel"
                                                        {% if "delete_consultationblockmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-finance-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Finance Permissions
                                </button>
                            </h2>
                            <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="finance-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Payment Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Take Payments
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_registrationpaymentmodel"
                                                        {% if "add_registrationpaymentmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Payment
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_registrationpaymentmodel"
                                                        {% if "view_registrationpaymentmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Set Fee Payment Amount
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_patientregistrationfeemodel"
                                                        {% if "add_patientregistrationfeemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>


                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Fee Payment Amount
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_patientregistrationfeemodel"
                                                        {% if "view_patientregistrationfeemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Income and Expense Permission</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Record Incomes
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_incomemodel"
                                                        {% if "add_incomemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Incomes
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_incomemodel"
                                                        {% if "view_incomemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Update Income Records
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_incomemodel"
                                                        {% if "change_incomemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                 <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Delete Income Records
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="delete_incomemodel"
                                                        {% if "delete_incomemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Record Expense
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_expensemodel"
                                                        {% if "add_expensemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Expense
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_expensemodel"
                                                        {% if "view_expensemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Update Expense Records
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_expensemodel"
                                                        {% if "change_expensemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                 <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Delete Expense Records
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="delete_expensemodel"
                                                        {% if "delete_expensemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Finance Setup Permission</h5>
                                            <ul class="list-group">

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Handle Finance Setup
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_financesettingmodel"
                                                        {% if "change_financesettingmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-result-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Laboratory Permissions
                                </button>
                            </h2>
                            <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="result-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Lab Test Setup Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Setup Lab Test
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_testmodel"
                                                        {% if "add_testmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Lab Test Setup
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_testmodel"
                                                        {% if "view_testmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Set Lab Test Fee
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_testpricemodel"
                                                        {% if "add_testpricemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Lab Test Fee
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_testpricemodel"
                                                        {% if "view_testpricemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Record Test Results
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_conducttestresultmodel"
                                                        {% if "add_conducttestresultmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Test and Test Results
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_conducttestresultmodel"
                                                        {% if "view_conducttestresultmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-medical-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse44" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Other Medical Permissions
                                </button>
                            </h2>
                            <div id="flush-collapse44" class="accordion-collapse collapse" aria-labelledby="medical-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Setup for Ward, Bed and Sickness Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Setup Ward
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_wardmodel"
                                                        {% if "add_wardmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Setup Bed
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_bedmodel"
                                                        {% if "add_bedmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Setup Sickness
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_sicknessmodel"
                                                        {% if "add_sicknessmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Delivery and Admission Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Admission
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_admissionmodel"
                                                        {% if "view_admissionmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Add and Update Admission
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_admissionmodel"
                                                        {% if "change_admissionmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Delivery
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_deliverymodel"
                                                        {% if "view_deliverymodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Add and Update Delivery
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_deliverymodel"
                                                        {% if "change_deliverymodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-hr-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Human Resource Permissions
                                </button>
                            </h2>
                            <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="hr-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Human Resource Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Register Staff
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_staffmodel"
                                                        {% if "add_staffmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Staff Profile
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_staffmodel"
                                                        {% if "view_staffmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Update Staff Information
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_staffmodel"
                                                        {% if "change_staffmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>



                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Delete Staff
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="delete_staffmodel"
                                                        {% if "delete_staffmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Add and Update Human Resource Setup
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_departmentmodel"
                                                        {% if "add_departmentmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                         <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-library-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Pharmacy Permissions
                                </button>
                            </h2>
                            <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="library-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Pharmacy Setup Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Update Setup
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_drugcategorymodel"
                                                        {% if "add_drugcategorymodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Setup
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_drugcategorymodel"
                                                        {% if "view_drugcategorymodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Drug Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Add and Update Drugs
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_drugmodel"
                                                        {% if "add_drugmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Drugs
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_drugmodel"
                                                        {% if "view_drugmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Add and Update Drug Prices
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_drugvariantpricemodel"
                                                        {% if "add_drugvariantpricemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Drug Prices
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_drugvariantpricemodel"
                                                        {% if "view_drugvariantpricemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Stock in and Stock out Drugs
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_drugstockmodel"
                                                        {% if "add_drugstockmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Drug Stock in and Stock out
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_drugstockmodel"
                                                        {% if "view_drugstockmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                         <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-inventory-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Inventory Permissions
                                </button>
                            </h2>
                            <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="inventory-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Inventory Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Register and Update Inventory Items
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_inventoryitemmodel"
                                                        {% if "add_inventoryitemmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Inventory Items
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_inventoryitemmodel"
                                                        {% if "view_inventoryitemmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Manage Inventory Setup
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_inventorycategorymodel"
                                                        {% if "add_inventorycategorymodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Manage Assets
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_assetmodel"
                                                        {% if "add_assetmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    View Assets
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="view_assetmodel"
                                                        {% if "view_assetmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                         <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-communication-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Communication Permissions
                                </button>
                            </h2>
                            <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="communication-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Communication Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Send Emails
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_messagemodel"
                                                        {% if "add_messagemodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Manage Contacts
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_contactmodel"
                                                        {% if "add_contactmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Update Communication Setting
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_communicationsettingmodel"
                                                        {% if "change_communicationsettingmodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-setting-permission">
                                <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapseOne">
                                    General Settings Permission
                                </button>
                            </h2>
                            <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="setting-permission" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">General Settings Permissions</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Assign Role and Permissions
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="add_group"
                                                        {% if "add_group" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Update General Setting
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_schoolgeneralinfomodel"
                                                        {% if "change_schoolgeneralinfomodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Update Hospital Information
                                                    <span class="badge">
                                                        <input type="checkbox" name="permissions[]" value="change_siteinfomodel"
                                                        {% if "change_siteinfomodel" in permission_codenames %} checked {% endif %}>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <input type="hidden" name="name" value="{{group.name}}">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</div>



</form>

{% endblock %}
