{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}

<div class="row">
    <div class="col-lg-12">
        <div class="card mb-0 h-auto">
            <div class="card-body py-0">
                <div class="row gx-0">
                    <!-- column -->
                        {% include 'communication/layout.html' %}
                    <!-- /column -->
                    <div class="col-lg-9 col-xl-10 col-xxl-9">
                        <div class="email-right-box ms-0 ">
                            <div class="compose-wrapper mt-3 " id="compose-content">
                                <div class="compose-content">
                                    <form action="#">
                                        <div class="mb-3">
                                            <input type="text" class="form-control bg-transparent" placeholder=" To: Enter Email Addresses separated by comma">
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control bg-transparent" placeholder=" Subject:">
                                        </div>
                                        <div class="mb-3">
                                            <textarea id="email-compose-editor" class="textarea_editor form-control bg-transparent" rows="5" placeholder="Enter text ..."></textarea>
                                        </div>
                                    </form>
                                    <h5 class="my-3"><i class="fa fa-paperclip me-2"></i> Attatchment</h5>
                                    <form action="#" class="dropzone">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple>
                                        </div>
                                    </form>
                                </div>
                                <div class="text-start mt-4 mb-3">
                                    <button class="btn btn-primary btn-sl-sm me-2" type="button"><span class="me-2"><i class="fa fa-paper-plane"></i></span>Send</button>
                                    <button class="btn btn-danger light btn-sl-sm" type="button"><span class="me-2"><i class="fa fa-times"></i></span>Discard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block 'script' %}
<script src="{% static 'admin_site/vendor/dropzone/dist/dropzone.js' %}"></script>
{% endblock %}

{% block 'style' %}
<link href="{% static 'admin_site/vendor/dropzone/dist/dropzone.css' %}" rel="stylesheet">
{% endblock %}