<div class="col-xl-2 col-xxl-3 col-lg-3">
    <div class="email-left-box dz-scroll pt-3 ps-0" id="email-left">
        <div class="p-0">
            <a href="{% url 'communication_dashboard' %}" class="btn text-white btn-block"><i class="fa-solid fa-plus me-2"></i>Compose Email</a>
        </div>
        <div class="mail-list rounded ">
            <a href="" class="list-group-item"><i class="fa-regular fa-envelope align-middle"></i>Chat <span class="badge badge-purple badge-sm float-end rounded">2</span> </a>
            <a href="{% url 'send_whatsapp_message' %}" class="list-group-item"><i class="bi bi-whatsapp align-middle"></i>Whatsapp</a>
            <a href="javascript:void(0);" class="list-group-item"><i class="fa-regular fa-paper-plane align-middle"></i>Sent</a>
            <a href="{% url 'contact_index' %}" class="list-group-item"><i class="fa-regular fa-user align-middle"></i>Contacts</a>
            <a href="javascript:void(0);" class="list-group-item"><i class="fa-regular fa-star align-middle"></i>Favorite </a>
            <a href="javascript:void(0);" class="list-group-item"><i class="fa-regular fa-file align-middle"></i>Draft</a>

        </div>

    </div>
</div>