{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Delete Registration Fee</h4>
            <p>Registration Fee: <i>{{patient_registration_fee.name|upper }}</i></p>

            <p>The Fee will be permanently deleted.</p>

            <form style="display:inline" method="post">
                {% csrf_token %}
                <input type="hidden" name="name" value="{{patient_registration_fee.name|lower}}">
                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'department_index' %}"> Cancel</a>
        </div>
    </div>
</div>


{% endblock %}