{% extends 'admin_site/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<!-- row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card card-profile">
            <div class="admin-user">
                <div class="img-wrraper">
                    <div class="">
                        <img {% if staff.image %} src="{{ staff.image.url }}" {% else %} src="{% static 'admin_site/images/user1.jpg' %}" {% endif %} class="rounded-circle"></div>
                    <a class="icon-wrapper" href="{% url 'staff_edit' staff.id %}"><i class="fa-solid fa-pencil"></i></a>
                </div>
                <div class="user-details">
                    <div class="title">
                        <h4>{{ staff|title }}</h4>
                        <h6><b>{{ staff.staff_id|upper }}</b></h6>
                        <h6 style="margin-top:-20px" class="{% if staff.status|lower == 'active' %} text-success {% else %} text-danger {% endif %}">{{ staff.status|upper }}</h6>
                    </div>

                    <ul class="follow-list" style="margin-top:-30px">
                        <li>
                          <div class="follow-num ">{{ staff.department }}</div><span>Department</span>
                        </li>

                        <li>
                          <div class="follow-num ">{{ staff.position }}</div><span>Position</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body profile-accordion pb-0">
                        <div class="accordion" id="accordionExample1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne1">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                      <b>About Staff</b>
                                  </button>
                                </h2>
                                <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
                                  <div class="accordion-body">
                                    <div class="about-me">
                                        <ul>
                                            <li>
                                                <i class="fa-solid fa-location-dot"></i>
                                                <div>
                                                    <h6>{% if staff.mobile %} {{ staff.mobile }} {% else %} No Phone Number {% endif %}</h6>
                                                    <h6>{% if staff.email %} {{ staff.email|lower }} {% else %} No Email {% endif %}</h6>
                                                    <span>{% if staff.address %} {{ staff.address }} {% else %} No Address {% endif %}</span>
                                                </div>
                                            </li>

                                            <li>
                                                <i class="fa-solid fa-book"></i>
                                                <div>
                                                    <h6>Gender: {{ staff.gender|title }}</h6>
                                                    <h6>DOB: {{ staff.date_of_birth|date }}</h6>
                                                    <h6>Religion: {{ staff.religion|title }}</h6>
                                                    <h6>State: {{ staff.state|title }} ({{staff.lga|title}})</h6>
                                                    <h6>Marital Status: {{ staff.marital_status|title }}</h6>
                                                </div>
                                            </li>

                                            <li>
                                                <i class="fa-solid fa-stethoscope"></i>
                                                <div>
                                                    <h6>Blood Group: {% if staff.blood_group %} {{ staff.blood_group|upper }} {% endif %}</h6>
                                                    <h6>Genotype: {% if staff.genotype %} {{ staff.genotype|upper }} {% endif %}</h6>
                                                    <h6>Health Note: {% if staff.medical_conditions %} {{ staff.medical_conditions }} {% endif %}</h6>
                                                </div>
                                            </li>

                                            <li>
                                                <i class="fa-solid fa-money-bill"></i>
                                                <div>
                                                    <h6><del style="text-decoration-style:double">N</del>{{ staff.salary|intcomma }}</h6>
                                                    <h6>Bank: {% if staff.bank_name %} {{ staff.bank_name|title }} {% endif %}</h6>
                                                    <h6>Acc No: {% if staff.account_number %} {{ staff.account_number }} {% endif %}</h6>
                                                    <h6>Acc Name: {% if staff.account_name %} {{ staff.account_name|title }} {% endif %}</h6>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body profile-accordion pb-0">
                        <div class="accordion" id="accordionHealth">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingHealth">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHealth" aria-expanded="true" aria-controls="collapseHealth">
                                      <b>Professional Info</b>
                                  </button>
                                </h2>
                                <div id="collapseHealth" class="accordion-collapse collapse" aria-labelledby="headingHealth" data-bs-parent="#accordionHealth">
                                  <div class="accordion-body">
                                    <div class="about-me">
                                        <ul>
                                            <li>
                                                <i class="fa-solid fa-briefcase"></i>
                                                <div>
                                                    <h6><b>Department:</b> {{ staff.department }}</h6>
                                                    <h6><b>Position:</b> {{ staff.position }}</h6>
                                                    <h6><b>Staff ID:</b> {{ staff.staff_id|upper }}</h6>
                                                    <h6><b>Is Staff Doctor?:</b> {% if staff.is_doctor %} YES {% else %} NO {% endif %}</h6>
                                                    <h6><b>Employment Date:</b> {{ staff.employment_date|date }}</h6>
                                                    <h6><b>CV:</b> {% if staff.cv %} <a href="{{ staff.cv.url }}" target="_blank"><b>Click To Download</b></a> {% endif %}</h6>
                                                </div>
                                            </li>

                                            <li>
                                                <i class="fa-solid fa-user"></i>
                                                <div>
                                                    <h6><b>Username:</b> {{ staff.staff_id }}</h6>
                                                    <h6><b>Default Password:</b> {{ staff.staff_profile.default_password }}</h6>
                                                </div>
                                            </li>

                                            <li class="second-head"><b>Professional Certificates</b> <span style="margin-left:50px"><a href="#" title="Add Certificate" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i style="font-size:30px" class="bi bi-plus"></i></a> </span></li>
                                            <div>
                                                {% for certificate_data in staff.certificates.all %}
                                                <h6><b>{{certificate_data.name}}</b> <a style="float:right;font-size:25px;" target="_blank" href="{{ certificate_data.certificate.url}}" title="Download Certificate"><b><i class="bi bi-download"></i></b></a></h6>
                                                <span>{{ certificate_data.certificate_type|title }}</span>
                                                {% if certificate_data.date_obtained %}
                                                - <span>{{ certificate_data.date_obtained|date }}</span>
                                                {% endif %}
                                                <h4>

                                                    <a style="margin-left:20px" title="Delete Certificate" href="{% url 'staff_certificate_delete' certificate_data.id %}" class="text-danger"><i class="bi bi-trash"></i> </a>
                                                </h4>
                                                <br><br>
                                                {% endfor %}
                                            </div>
                                        </ul>
                                    </div>

                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body profile-accordion pb-0">
                        <div class="accordion" id="accordionExample4">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne4">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                                    <b>Actions</b>
                                  </button>
                                </h2>
                                <div id="collapseOne4" class="accordion-collapse collapse" aria-labelledby="headingOne4" data-bs-parent="#accordionExample4">
                                    <div class="accordion-body">
                                        <div class="profile-interest">
                                            <div class="row mt-4 sp4" id="lightgallery">
                                                <a href="{% url 'staff_edit' staff.id %}" style="width:50px;margin:15px" class="btn btn-warning" title="Edit Staff"><i class="bi bi-pencil"></i></a>
                                                <a href="{% url 'staff_delete' staff.id %}" style="width:50px;margin:15px" class="btn btn-danger" title="Delete Staff"><i class="bi bi-trash"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
<!--            <div class="col-md-12">-->
<!--                <div class="card" style="overflow:auto">-->
<!--                    <div class="card-body" style="overflow:auto">-->
<!--                        <div id="calendar" class="app-fullcalendar"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


        </div>
    </div>
</div>


<form action="{% url 'staff_certificate_create' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="modal fade" id="exampleModalCenter">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Certificate for {{ staff|title }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12 m-b30">
                            <input type="hidden" name="staff" value="{{staff.id}}">
							<label class="form-label">Certificate Title <b style="color:red">*</b></label>
							{{ certificate_form.name }}
						</div>

                        <div class="col-sm-12 m-b30">
							<label class="form-label">Certificate Type</label>
							{{ certificate_form.certificate_type }}
						</div>

                        <div class="col-sm-12 m-b30">
							<label class="form-label">Certificate<b style="color:red">*</b></label>
							{{ certificate_form.certificate }}
						</div>

						<div class="col-sm-12 m-b30">
							<label class="form-label">Date Obtained</label>
							{{ certificate_form.date_obtained }}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Save" />
				</div>
			</div>
		</div>
	</div>
</form>



{% block 'style' %}
<link href="{% static 'admin_site/vendor/fullcalendar/css/main.min.css' %}" rel="stylesheet">
{% endblock %}

{% block 'script' %}
<script src="{% static 'admin_site/vendor/fullcalendar/js/main.min.js' %}"></script>
<script>

"use strict"

function fullCalender(){

	/* initialize the external events
		-----------------------------------------------------------------*/

		var containerEl = document.getElementById('external-events');
		if($('#external-events').length > 0){
			new FullCalendar.Draggable(containerEl, {
			  itemSelector: '.external-event',
			  eventData: function(eventEl) {
				return {
				  title: eventEl.innerText.trim()
				}
			  }

			});
		}
		/* initialize the calendar
		-----------------------------------------------------------------*/

		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
		  headerToolbar: {
			left: 'prev,next today',
			center: 'title',
			right: 'dayGridMonth,timeGridWeek,timeGridDay'
		  },

		  selectable: true,
		  selectMirror: true,
		  select: function(arg) {
			var title = prompt('Event Title:');
			if (title) {
			  calendar.addEvent({
				title: title,
				start: arg.start,
				end: arg.end,
				allDay: arg.allDay
			  })
			  alert(arg.allDay)
			}
			calendar.unselect()
		  },

		  editable: true,
		  droppable: true, // this allows things to be dropped onto the calendar
		  drop: function(arg) {
			// is the "remove after drop" checkbox checked?
			if (document.getElementById('drop-remove').checked) {
			  // if so, remove the element from the "Draggable Events" list
			  arg.draggedEl.parentNode.removeChild(arg.draggedEl);
			}
		  },
		  initialDate: '2021-02-13',
			  weekNumbers: true,
			  navLinks: true, // can click day/week names to navigate views
			  editable: true,
			  selectable: true,
			  nowIndicator: true,
		   events: [

				{
				  title: 'Conference',
				  start: '2021-02-11',
				  end: '2021-02-13',
				  className: "bg-success"
				},

			  ]
		});
		calendar.render();

}



jQuery(window).on('load',function(){
	setTimeout(function(){
		fullCalender();
	}, 1000);


});





</script>
{% endblock %}

{% endblock %}