{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}

<form action="{% url 'take_payment' %}" method="post">
	{% csrf_token %}
	<input type="hidden" name="user" value="{{request.user.id}}" />
	<div class="row">
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h4 class="heading mb-0"><b>Make Payment</b></h4>

		</div>
		<div class="col-xl-12 active-p">
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-colm" role="tabpanel" aria-labelledby="pills-colm-tab">
					<div class="card">
						<div class="card-body px-0" style="padding:20px">
							<div class="row" style="margin:20px">
								<div class="col-sm-4 m-b30">
									<label class="form-label">Payment Type</label>
									<select name="payment_type" class="form-control" id="pay_type">
										<option value="">------ SELECT PAYMENT----</option>
										<option value="registration">REGISTRATION</option>
										<option value="consultation">CONSULTATION</option>
										<option value="test">LABORATORY TEST</option>
										<option value="prescription">PRESCRIPTION</option>
									</select>
								</div>

								<div class="col-sm-4 m-b30 reg_div" id="reg_type_div">
									<label class="form-label">Registration Type</label>
									<select name="registration_type" class="form-control" id="reg_type">
										<option value="">------ SELECT REGISTRATION TYPE----</option>
										{% for reg_type in registration_type_list %}
										<option value="{{reg_type.id}}" amount="{{reg_type.amount}}">{{ reg_type|upper }}</option>
										{% endfor %}
									</select>
								</div>

								<div class="col-sm-12 m-b30 reg_div" id="amount_div">
									<br><br>
									<h1>Amount: <span id="amount_val"></span></h1>
									<input type="hidden" id="amount" name="amount" />
								</div>

								<div class="col-sm-4 m-b30 reg_div" id="name_div">
									<label class="form-label">Full Name</label>
									<input type="text" name="full_name" class="form-control" autocomplete="off">
								</div>

								<div class="col-sm-4 m-b30 reg_div" id="card_number_div">
									<label class="form-label">Card Number</label>
									<input type="text" id="card_number" name="card_number" class="form-control" autocomplete="off">
								</div>

								<div class="col-sm-4 m-b30" id="card_number_button">
									<a href="#" id="card_button" class="btn btn-primary" style="margin-top:25px">Check Number</a>
								</div>

								<div class="col-sm-12 m-b30" id="detail_from_card" style="padding-top:40px">

								</div>

								<div class="col-sm-8 m-b30" id="reg_button">
									<button class="btn btn-primary" style="margin-top:25px">Save</button>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</form>

<script src="{% static 'admin_site/scripts/jquery.js' %}"></script>
<script>
	$(document).ready(function(){
		$('#reg_type_div').hide()
		$('#amount_div').hide()
		$('#name_div').hide()
		$('#card_number_div').hide()
		$('#reg_button').hide()
		$('#card_number_button').hide()

		$('#pay_type').change(function(){
			payment_type = $(this).val()
			if(payment_type == 'registration'){
				$('#reg_type_div').fadeIn()

				$('#reg_type').change(function(){
					amount = $('#reg_type option:selected').attr('amount')
					$('#amount_div').fadeIn()
					$('#amount_val').text(amount)
					$('#amount').val(amount)
					$('#name_div').fadeIn()
					$('#reg_button').fadeIn()


				})
			}

			if(payment_type == 'consultation' | payment_type == 'test' | payment_type == 'prescription'){
				$('.reg_div').hide()
				$('#reg_button').hide()

				$('#card_number_div').fadeIn()
				$('#card_number_button').fadeIn()

				$('#card_button').click(function(){
					card_number = $('#card_number').val()
					$(this).attr('disabled', 'true')

					$.ajax({
						url : "{% url 'get_patient_with_card' %}",
						data: {'card_number': card_number, 'payment_type': payment_type},
						success: function(data){
							$('#detail_from_card').html(data)
						},

					})
				})
			}else{
				$('#card_number_div').hide()
				$('#reg_button').hide()
			}

		})

		$('form').submit(function(){
			$(this).submit(function(){
				return false
			})
			return true
		 })

	})
</script>
{% endblock %}